  body{
    background-color: rgb(58, 14, 14);
  }
  .title, .subtitle{
    text-align: center;
  }

  .background{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .background img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
  } .background::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, transparent, rgba(29, 29, 29, 0.7));
    pointer-events: none; 
  }
  
  .background::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, transparent, rgb(46, 46, 46));
    pointer-events: none; 

  }
  .side-poet{
    position: absolute;
    top: 20%;
    right: 10%;
  }

  .poet, .poet2, .poet3{
    color: white;
    width: 600px;
    max-width: 90%;
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 0;
    padding-bottom: 20px;
    text-align: justify;
    margin: 0 auto;
    display: block;
    font-size: 25px;
    line-height: 1.6;
    font-family: 'EB Garamond';
    transition: all 0.9s ease;
    filter: blur(2px);
  } .poet:hover, .poet2:hover, .poet3:hover{
    transform: scale(1.2);
    filter: blur(0);
    color: rgb(233, 200, 16);
  } 

  .title{
    padding-top: 20px;
    margin: 0 0;
    color: gold;
    font-weight: 600;
  } 
  .subtitle{
    margin-top: 0px;
    margin-bottom: 20px;   
    color: rgb(235, 139, 13);
    font-weight: 100;
  }

  .line{
    height: 5px;
    background:radial-gradient(yellow, blue);
  }